# Node.js y Express.js
node_modules/
npm-debug.log
yarn-error.log

# Archivos de configuración
.env
config.json

# Archivos de compilación y cache
build/
dist/
tmp/

# Archivos de logs
logs/
*.log

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de IDE
.vscode/
.idea/
*.iml

# Otros
coverage/
*.swp
*.swo